p{
   color:red
    }

h1{color:aqua 

    }
nuevoelemento{
   color:greenyellow
}
a{color:palevioletred}
span{
   color: pink; 
}
.prueba_clase{
    color:blueviolet
}
#secreto{
    color: chocolate;
}